<%= render 'movie_search' %>
<div class="movie-wrapper clearfix">
	<%= render @movie, edit: true unless @movie.new_record? %>
</div>
<%= simple_form_for @movie_suggestion, url: @form_path do |f| %>
	<%= f.input_field :movie_id, as: :hidden %>
	<%= f.input :comment, input_html: {class: 'span9', rows: 8},
				hint: 'Wenn du noch etwas über den Film schreiben möchtest, kannst du das hier tun.'%>
	<%= f.button :submit, 'Speichern', class: 'btn-primary' %>
	<%= link_to 'Löschen', @movie_suggestion, confirm: 'Wirklich löschen?', 
				method: :delete, class: 'btn btn-danger' unless @movie_suggestion.new_record? %>
	<%= link_to 'Zurück', :back, class: 'btn' %>
<% end %>
<%= render 'modals' %>