<div id="<%="suggestion#{movie_suggestion.id}"%>" class="movie-suggestion">
	<% if edit %>
		<%= link_to 'Löschen', movie_suggestion, confirm: 'Wirklich löschen?', method: :delete, class: 'btn btn-danger delete-suggestion' %>
		<%= link_to 'Bearbeiten', edit_movie_suggestion_path(movie_suggestion), class: 'btn edit-suggestion' %>
	<% end %>
	<div class="movie-wrapper clearfix">
		<%= render movie_suggestion.movie %>
	</div>
	<% if movie_suggestion.comment.present? %>
		<div class="suggestion-comment">
			Anmerkung<%=' von ' + movie_suggestion.registration.name if movie_suggestion.registration.present? %>:
			<p><%= movie_suggestion.comment %></p>
		</div>
	<% end %>
</div>