<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @movie_suggestion.movie_id %>
</p>

<p>
  <b>Show:</b>
  <%= @movie_suggestion.show_id %>
</p>

<p>
  <b>Registration:</b>
  <%= @movie_suggestion.registration_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @movie_suggestion.comment %>
</p>


<%= link_to 'Edit', edit_movie_suggestion_path(@movie_suggestion) %> |
<%= link_to 'Back', movie_suggestions_path %>
