<%= simple_form_for @movie, html: {class: "form-horizontal #{'modal-form' if modal}"}, remote: true do |f| %>
	<div class="<%=modal ? 'modal-body' : 'form-body'%>">
		<%= f.input :title %>
		<%= f.input :description, input_html: {rows: 10, class: 'span6'} %>
		<%= f.input :uploaded_image, as: :file, input_html: {class: 'span6'} %>
		<%= f.input :production_year, as: :string, input_html: {class: 'span1'} %>
		<%= f.input :runtime, as: :string, input_html: {class: 'span1'},
								hint: 'Minuten', hint_html: {class: 'help-inline'} %>
	</div>
	<div class="<%=modal ? 'modal-footer' : 'form-actions'%>">
		<a data-dismiss="modal" class="btn">Abbrechen</a>
		<%= f.button :submit, 'Übernehmen', class: 'btn-primary' %>
	</div>
<% end %>
