<%= simple_form_for @movie, html: {multipart: true, class: "form-horizontal #{'modal-form' if modal}"} do |f| %>
	<div class="<%=modal ? 'modal-body' : 'form-body'%>">
		<%= f.input :title, input_html: {class: 'span4', required: 'required'} %>
		<%= f.input :description, input_html: {rows: 10, class: 'span4', required: 'required'} %>
		<%= f.input :poster, as: :file, input_html: {class: 'span6'} %>
		<%= f.input :production_year, as: :string, required: true, input_html: {class: 'span1', required: 'required'} %>
		<%= f.input :runtime, as: :string, required: true, input_html: {class: 'span1', required: 'required'} %>
	</div>
	<div class="<%=modal ? 'modal-footer' : 'form-actions'%>">
		<a data-dismiss="modal" class="btn">Abbrechen</a>
		<%= f.button :submit, 'Übernehmen', class: 'btn-primary', id: 'movie_submit' %>
	</div>
<% end %>
