<%= simple_form_for [@show, @registration] do |f| %>
	<div class="row">
		<%= render 'seats/seat_plan', draggable: false %>
		<div id="personal_info" class="span3">
			<%= f.input :name %>
			<%= f.input :email %>
			<%= f.input :seat_id, as: :hidden %>
		</div>
	</div>
	<div id="registration_actions">
		<%= f.button :submit, 'Anmelden', class: 'btn-primary' %>
		<%= link_to 'Zurück', :back, class: 'btn' %>
	</div>
<% end %>
