<div id="registrations_header" class="page-header">
	<h1>Anmeldungen für <%=l! @show.date.to_date %></h1>
</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="#accepted" data-toggle="tab">Akzeptiert</a></li>
	<li><a href="#pending" data-toggle="tab">Ausstehend</a></li>
	<li><a href="#denied" data-toggle="tab">Abgelehnt</a></li>
	<li><a href="#cancelled" data-toggle="tab">Zurückgezogen</a></li>
</ul>

<% none = '<em>Keine</em>'.html_safe %>
<div class="tab-content">
	<div class="tab-pane active" id="accepted"><%= (render @show.accepted_registrations) || none %></div>
	<div class="tab-pane" id="pending"><%= (render @show.pending_registrations) || none %></div>
	<div class="tab-pane" id="denied"><%= (render @show.denied_registrations) || none %></div>
	<div class="tab-pane" id="cancelled"><%= (render @show.cancelled_registrations) || none %></div>
</div>