<p class="registrations">
	<span class="accepted"><%= pluralize show.accepted_registrations.length, 'Anmeldung', 'Anmeldungen' -%></span>
	<span class="pending"><%= pluralize_if_any show.pending_registrations.length, 'Anfrage', 'Anfragen' -%></span>
</p>
<%= link_to 'Bearbeiten', edit_show_path(show), class: 'btn' %>
<%= link_to 'Filmvorschläge', show_movie_suggestions_path(show), class: 'btn' %>
<%= link_to 'Anmeldungen', show_registrations_path(show), class: 'btn' %>
<%= link_to 'Löschen', show, confirm: 'Wirklich löschen?', method: :delete,
		class: 'btn btn-danger' %>