<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%=l @show.date %>
</p>

<p>
  <b>Text:</b>
  <%= @show.text %>
</p>

<p>
  <b>Movie suggestions allowed:</b>
  <%= @show.movie_suggestions_allowed %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
